#map-container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  #year-select {
    margin: 20px 0;
  }
  
  #map {
    height: 500px;
    width: 100%;
  }
  
  .leaflet-control-layers .leaflet-control-layers-list {
    font-size: smaller;
  }
  
  .leaflet-control-layers .leaflet-control-layers-toggle {
    width: 22px;
    height: 22px;
  }
  
  .leaflet-control-layers .leaflet-control-layers-expanded .leaflet-control-layers-scrollbar {
    max-height: 200px;
  }
  